body {
    font-family: 'Iceland', sans-serif;
    background-color: #f4f6f8;
    color: #00113f;
}
h1 {
    font-family: 'Sixtyfour', sans-serif;
    font-weight: 600;
    color: #00113f;
    text-align: center;
}
h2 {
    font-family: 'Iceland', sans-serif;
    font-weight: 600;
    color: #00113f;
    text-align: center;
}
h3{
    font-family: 'Iceland', sans-serif;
    font-weight: 600;
    color: #00113f;
}
.f-card {
    position: relative;
    border-radius: 12px;
    border: 10px solid #00113f;
    padding: 20px;
    background: #ff6464;
    margin: 5px;
}
.f-card::after{
    content: "";
    position: absolute;
    bottom: -36px;
    right: -10px;
    border-width: 35px 35px 0;
    border-style: solid;
    border-color: #00113f transparent transparent transparent;
}
#pokemon-fact{
    background-color:rgb(255, 100, 100);
    color:#00113f;
    border: 5px #00113f solid;
    margin: 10px;
}
#pokemon-button{
    background-color:#00113f;
    color:#ff6464;
    border: 5px #ff6464 solid;
    margin: 10px;

}
#fact-button{
    background-color:#00113f;
    color:#ff6464;
    border: 5px #ff6464 solid;
    margin: 10px;
}

#pokemonResult img {
    width: 400px;
    padding: 10px;
}