body {
    font-family: 'Iceland', sans-serif;
    background-color: #f4f6f8;
    color: #1e3a8a;
    border: #ffeb3b;
}

h1 {
    font-family: 'Sixtyfour', sans-serif;
    font-weight: 600;
    color: #ffeb3b;
    border: #1e3a8a;
}
h2 {
    font-family: 'Iceland', sans-serif;
    font-weight: 600;
    color: #1e3a8a;
    border: #ffeb3b;
}

.subtitle {
    font-weight: 300;
    color: #1e3a8a;
}

.card {
    position: relative;
    border-radius: 12px;
    border: 6px solid #000;
    padding: 30px;
    background: linear-gradient(
        to bottom,
        #d32f2f 0%,
        #d32f2f 48%,
        #000 48%,
        #000 52%,
        #ffffff 52%,
        #ffffff 100%
    );
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}
#pokemon-fact{
    background-color:rgb(255, 100, 100);
    color:#0e39ad;
    border:#000;
}
#pokemon-button{
    background-color:rgb(0, 0, 0);
    color:#ff6464;
    border:#000;
}
#fact-button{
    background-color:rgb(0, 0, 0);
    color:#0e39ad;
    border:#000;
}

#pokemonResult img {
    width: 220px;
}
p{
    size: 30px;
}
