body {
    font-family: 'Iceland', sans-serif;
    background-color: #f4f6f8;
    color: #1e3a8a;
}

h1 {
    font-family: 'Sixtyfour', sans-serif;
    font-weight: 600;
    color: #1e3a8a;
    text-align: center;
}
h2 {
    font-family: 'Iceland', sans-serif;
    font-weight: 600;
    color: #1e3a8a;
    text-align: center;
}
h3{
    font-family: 'Iceland', sans-serif;
    font-weight: 600;
    color: #1e3a8a;
}

.p-card {
    position: relative;
    border-radius: 12px;
    border: 10px solid #000;
    padding: 30px;
    background: #ffe8e8;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    margin: 20px;
}
.f-card {
    position: relative;
    border-radius: 12px;
    border: 10px solid #000;
    padding: 20px;
    background: #ff6464;
    margin: 5px;
}
.f-card::after{
    content: "";
    position: absolute;
    bottom: -36px;
    right: -10px;
    border-width: 35px 35px 0;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
}
#pokemon-fact{
    background-color:rgb(255, 100, 100);
    color:#0e39ad;
    border: 5px #000 solid;
    margin: 10px;
}
#pokemon-button{
    background-color:rgb(0, 0, 0);
    color:#ff6464;
    border: 5px #ff6464 solid;
    margin: 10px;

}
#fact-button{
    background-color:rgb(0, 0, 0);
    color:#5482ff;
    border: 5px #5482ff solid;
    margin: 10px;
}

#pokemonResult img {
    width: 400px;
    padding: 10px;
}

.pokeballs-b{
    width: 100;
    height:100;
}

.pokeballs-a{
    width: 100;
    height: 100;
}